<section class="py-24 relative xl:mr-0 lg:mr-5 mr-0">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div class="w-full justify-start items-center xl:gap-12 gap-10 grid lg:grid-cols-2 grid-cols-1">

      <div class="w-full flex-col justify-center lg:items-start items-center gap-10 inline-flex order-2 lg:order-1">
        <div class="w-full flex-col justify-center items-start gap-8 flex">
          <div class="flex-col justify-start lg:items-start items-center gap-4 flex">
            <h6 class="text-gray-400 text-base font-normal leading-relaxed">About Us</h6>
            <div class="w-full flex-col justify-start lg:items-start items-center gap-3 flex">
              <h2 class="text-red-700 text-4xl font-bold font-manrope leading-normal lg:text-start text-center">
                The Tale of Our Achievement Story
              </h2>
              <p class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center">
                Founded in 1960, El-Temsah has been a pioneer in the manufacturing of caravan trailers and steel
                structures for over 60 years. With a commitment to innovation, quality, and excellence, we’ve
                established ourselves as a trusted leader in the industry. Our dedicated team, coupled with cutting-edge
                technology, ensures that every product we deliver meets the highest standards.
              </p>
            </div>
          </div>

          <div class="w-full flex-col justify-center items-start gap-6 flex">
            <div class="w-full justify-start items-center gap-8 grid md:grid-cols-2 grid-cols-1">
              <div
                class="w-full h-full p-3.5 rounded-xl border border-red-200 hover:border-red-400 transition-all duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg flex-col justify-start items-start gap-2.5 inline-flex">
                <h4 class="text-red-900 text-2xl font-bold font-manrope leading-9">60+ Years</h4>
                <p class="text-gray-500 text-base font-normal leading-relaxed">Influencing Digital Landscapes Together</p>
              </div>
              <div
                class="w-full h-full p-3.5 rounded-xl border border-red-200 hover:border-red-400 transition-all duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg flex-col justify-start items-start gap-2.5 inline-flex">
                <h4 class="text-red-900 text-2xl font-bold font-manrope leading-9">125+ Projects</h4>
                <p class="text-gray-500 text-base font-normal leading-relaxed">Excellence Achieved Through Success</p>
              </div>
            </div>
          </div>
        </div>

        <a [routerLink]="'/services'"
          class="cursor-pointer sm:w-fit w-full group px-3.5 py-2 bg-red-50 hover:bg-red-100 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] transition-all duration-700 ease-in-out justify-center items-center flex">
          <span
            class="px-1.5 text-red-600 text-sm font-medium leading-6 group-hover:-translate-x-0.5 transition-all duration-700 ease-in-out">
            Read More
          </span>
          <svg class="translate-y-0.5 group-hover:translate-x-0.5 transition-all duration-700 ease-in-out"
            xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M6.75265 4.49658L11.2528 8.99677L6.75 13.4996" stroke="red" stroke-width="1.6"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </div>

      <div class="w-full lg:justify-start justify-center items-start flex order-1 lg:order-2">
        <div class="sm:w-[564px] w-full sm:bg-red-100 rounded-3xl sm:border border-red-200 relative">
          <img class="sm:mt-5 sm:ml-5 w-full h-85 rounded-3xl object-cover"
            src="/assets/backgrounds/about/caravan.png" alt="about Us image" />
        </div>
      </div>

    </div>
  </div>
</section>
