<section class="py-24 relative xl:mr-0 lg:mr-5 mr-0" aria-labelledby="about-us-title">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 xl:gap-12 items-center">

      <!-- Text Content -->
      <div class="flex flex-col gap-10 items-center lg:items-start order-2 lg:order-1">
        <div class="flex flex-col gap-8 w-full">
          <div class="flex flex-col gap-4 items-center lg:items-start">
            <h6 id="about-us-title" class="text-gray-400 text-base font-normal leading-relaxed">
              {{ 'about.overView.title' | translate }}
            </h6>
            <div class="flex flex-col gap-3 text-center lg:text-start">
              <h2 class="text-red-700 text-4xl font-bold leading-normal font-manrope">
                {{ 'about.overView.heading' | translate }}
              </h2>
              <p class="text-gray-500 text-base font-normal leading-relaxed">
                {{ 'about.overView.description' | translate }}
              </p>
            </div>
          </div>

          <!-- Features -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div
              class="p-4 rounded-xl border border-red-200 hover:border-red-400 transition-all duration-500 hover:-translate-y-1 hover:shadow-lg"
              role="region" [attr.aria-label]="'about.years' | translate">
              <h4 class="text-red-900 text-2xl font-bold font-manrope leading-9">
                {{ 'about.overView.years' | translate }}
              </h4>
              <p class="text-gray-500 text-base font-normal leading-relaxed">
                {{ 'about.overView.yearsDesc' | translate }}
              </p>
            </div>
            <div
              class="p-4 rounded-xl border border-red-200 hover:border-red-400 transition-all duration-500 hover:-translate-y-1 hover:shadow-lg"
              role="region" [attr.aria-label]="'about.projects' | translate">
              <h4 class="text-red-900 text-2xl font-bold font-manrope leading-9">
                {{ 'about.overView.projects' | translate }}
              </h4>
              <p class="text-gray-500 text-base font-normal leading-relaxed">
                {{ 'about.overView.projectsDesc' | translate }}
              </p>
            </div>
          </div>
        </div>

        <!-- Read More Button -->
        <a
          [routerLink]="'/services'"
          class="cursor-pointer sm:w-fit w-full group px-4 py-2 bg-red-50 hover:bg-red-100 rounded-lg shadow transition-all duration-700 flex justify-center items-center"
          [attr.aria-label]="'about.readMore' | translate">
          <span class="text-red-600 text-sm font-medium group-hover:-translate-x-0.5 transition duration-700">
            {{ 'about.overView.readMore' | translate }}
          </span>
          <svg class="ml-2 group-hover:translate-x-0.5 transition duration-700" xmlns="http://www.w3.org/2000/svg"
            width="18" height="18" viewBox="0 0 18 18" fill="none" aria-hidden="true">
            <path d="M6.75265 4.49658L11.2528 8.99677L6.75 13.4996" stroke="red" stroke-width="1.6"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </div>

      <!-- Image -->
      <div class="flex justify-center lg:justify-start order-1 lg:order-2">
        <div class="relative rounded-3xl border border-red-200 bg-red-100 sm:w-[564px] w-full overflow-hidden">
          <img
            class="rounded-3xl object-cover w-full h-auto sm:mt-5 sm:ml-5"
            src="/assets/backgrounds/about/caravan.png"
            alt="Illustration of caravan - El-Temsah"
          />
        </div>
      </div>

    </div>
  </div>
</section>
