    <div class="space-y-4 pt-4">
      <Button 
        class="w-full bg-orange-600 hover:bg-orange-700 text-white py-6 text-lg font-semibold bg-primary text-primary-foreground hover:bg-primary/90">
        <!-- <Phone class="w-5 h-5 mr-2" /> -->
        <span class="mr-2">
            <ng-icon name="featherPhone" class="inline-block w-5 h-5" aria-hidden="true"></ng-icon>
        </span>
        Contact Sales Team
      </Button>
      <Button variant="outline" 
        class="w-full py-6 text-lg border-2 border-orange-200 text-orange-700 hover:bg-orange-50 border-input bg-background hover:bg-accent hover:text-accent-foreground ">
        <!-- <Mail class="w-5 h-5 mr-2" /> -->
        <span class="mr-2">
            <ng-icon name="featherMail" class="inline-block w-5 h-5" aria-hidden="true"></ng-icon>
        </span>
        Get Detailed Specifications
      </Button>
    </div>