<div class="flex items-center justify-center gap-6 pt-6 border-t border-slate-200">
      <div class="text-center">
        <!-- <Clock class="w-6 h-6 text-slate-400 mx-auto mb-1" /> -->

        <span>
            <ng-icon name="clock" class="inline-block w-4 h-4 text-slate-400 mr-1"></ng-icon>
        </span>
        <div class="text-xs text-slate-500">Quick Response</div>
        <div class="text-sm font-medium text-slate-700">24 Hours</div>
      </div>
      <div class="text-center">
        <!-- <Shield class="w-6 h-6 text-slate-400 mx-auto mb-1" /> -->

        <span>
            <ng-icon name="clock" class="inline-block w-4 h-4 text-slate-400 mr-1"></ng-icon>
        </span>
        <div class="text-xs text-slate-500">Warranty</div>
        <div class="text-sm font-medium text-slate-700">5+ Years</div>
      </div>
      <div class="text-center">
        <!-- <Star class="w-6 h-6 text-slate-400 mx-auto mb-1" /> -->
        <span>
            <ng-icon name="clock" class="inline-block w-4 h-4 text-slate-400 mr-1"></ng-icon>
        </span>
        <div class="text-xs text-slate-500">Experience</div>
        <div class="text-sm font-medium text-slate-700">60+ Years</div>
      </div>
</div>