<section class="relative flex flex-wrap justify-center gap-6 px-4 py-20 bg-gray-50">
  <div
    *ngFor="let item of contactCards"
    class="group relative w-full sm:max-w-xs overflow-hidden rounded-xl bg-white/90 backdrop-blur-sm shadow-xl transition-all duration-700 hover:shadow-2xl transform hover:-translate-y-2"
  >
    <!-- Gradient Hover Overlay -->
    <div
      class="absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-700"
      [ngClass]="item.bgGradient"
    ></div>
    <div class="absolute inset-0 bg-gradient-to-br from-transparent via-white/5 to-red-50/20 opacity-0 group-hover:opacity-100 transition-opacity duration-700"></div>

    <!-- Card Header -->
    <div class="relative z-10 text-center p-6 pb-2">
      <div
        class="w-16 h-16 mx-auto mb-6 rounded-3xl flex items-center justify-center shadow-2xl transform transition-all duration-500 group-hover:scale-110"
        [ngClass]="item.gradient"
      >
      <span class="text-white text-3xl">
        <ng-icon [name]="item.icon" ></ng-icon>
      </span>
      </div>
      <h3 class="text-xl font-semibold text-red-900 group-hover:text-red-700 transition-colors duration-500">
        {{ item.titleKey | translate}}
      </h3>
    </div>

    <!-- Card Content -->
    <div class="relative z-10 text-center p-6 pt-0">
      <p class="font-bold text-lg text-gray-900 mb-3 group-hover:text-red-800 transition-colors duration-500">
        {{ item.data | translate }}
      </p>
      <p class="text-sm text-gray-600 group-hover:text-red-600 transition-colors duration-500">
        {{ item.descriptionKey | translate }}
      </p>
    </div>
  </div>
</section>
