<div class="space-y-12 ">
    <app-hero-section-products></app-hero-section-products> 

    <app-search-filter-bar
  [searchTerm]="searchTerm"
  (searchTermChange)="searchTerm = $event"
  [selectedCategory]="selectedCategory"
  (selectedCategoryChange)="selectedCategory = $event"
  [viewMode]="viewMode"
  (viewModeChange)="viewMode = $event"
  [categories]="categories"
  [filteredProductsCount]="filteredProductsCount"
/>
<section class="py-20 bg-gradient-to-br from-slate-50 to-slate-100">
  <div class="container mx-auto px-6 lg:px-8">
    <app-product-list
    *ngIf="viewMode === 'list'"
    [products]="filteredProducts"
    />
    <app-product-grid
    *ngIf="viewMode === 'grid'"
    [products]="filteredProducts"
    />
  </div>
  <ng-container *ngIf="filteredProducts.length === 0">
    <app-no-result></app-no-result>
  </ng-container>
</section>

</div>

