<header class="fixed top-0 left-0 right-0 z-50 bg-white/85 transition-all duration-500 ease-out backdrop-blur-[2px]">

  <!-- <div class="max-w-7xl mx-auto px-8 sm:px-10 lg:px-12"> -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <a routerLink="/" class="flex items-center space-x-2">
        <span
          class="self-center whitespace-nowrap logo-text text-center text-2xl tracking-wider flex flex-col leading-6"
        >
          <span>{{ 'heading.brand.line1' | translate }}</span>
          <span>{{ 'heading.brand.line2' | translate }}</span>
        </span>
      </a>

      <!-- Desktop Navigation -->
      <nav
        class="hidden lg:flex items-center space-x-8 border-b-2 border-transparent transition-all duration-300"
      >
        <a
          *ngFor="let item of navigation"
          [routerLink]="item.href"
          (click)="closeMenu()"
          class="relative text-md text-[#8b0000] font-medium transition-all duration-300 group tracking-wider font-Staatliches hover:text-red-600"
        >
          {{ item.name | translate }}
          <span
            class="absolute -bottom-1 left-0 w-0 h-1 rounded transition-all duration-300 group-hover:w-full font-Anton"
            [ngClass]="{
              'w-full bg-red-800': router.url === item.href,
              'bg-red-600': router.url !== item.href
            }"
          ></span>
        </a>
      </nav>

      <!-- Right Side -->
      <div class="hidden lg:flex items-center space-x-6 text-[#8b0000]">
        <!-- Language Switch -->
        <button
          class="flex items-center space-x-1 px-1.5 transition-all duration-300 cursor-pointer rounded hover:bg-red-300/20 border-transparent hover:border hover:border-red-800/50 hover:text-[#b22222] "
          (click)="toggleLanguage()"
        >
          <span class="text-md p-0.5 mt-0.5">
            <ng-icon name="featherGlobe" class="w-5 h-5" />
          </span>
          <span class="font-Staatliches text-md mt-0.5">
            {{ 'heading.language.toggle' | translate }}
          </span>
        </button>

        <!-- Phone -->
        <div class="flex items-center space-x-1 font-Staatliches tracking-wider">
          <span class="mt-1.5">
            <ng-icon name="featherPhone" class="w-4 h-4" />
          </span>
          <span class="text-md font-medium transition-colors duration-300 mt-0.5">
            {{ 'heading.phone.desktop' | translate }}
          </span>
        </div>

        <!-- CTA Button -->
        <button
          class="font-Antonio text-sm bg-transparent font-semibold cursor-pointer hover:bg-red-600 hover:text-white text-red-800 border-2 border-red-700 hover:border-red-600 transition-all duration-400 px-3 py-1 rounded-full"
          [ngClass]="{
            'border-red-800 bg-transparent': !isScrolled,
            'border-red-800  bg-white/20': isScrolled
          }"
        >
          {{ 'heading.cta.desktop' | translate }}
          <span class="inline-block transition-transform duration-300 translate-y-0.5 font-bold">
            <ng-icon name="featherArrowRight" class="w-4 h-4" />
          </span>
        </button>
      </div>

      <!-- Mobile Menu Button -->
      <div class="lg:hidden">
        <button
          (click)="toggleMenu()"
          class="transition-colors duration-300 cursor-pointer"
          [ngClass]="isScrolled ? 'text-gray-900 hover:bg-gray-100' : 'text-red-800 hover:bg-white/10'"
        >
          <ng-container *ngIf="isMenuOpen; else menuIcon">
            <span class="w-10 h-10 text-3xl">
              <ng-icon name="lucideX" class="w-8 h-8" />
            </span>
          </ng-container>
          <ng-template #menuIcon>
            <span class="text-3xl">
              <ng-icon name="lucideMenu"></ng-icon>
            </span>
          </ng-template>
        </button>
      </div>
    </div>

    <!-- Mobile Navigation -->
    <div
      class="lg:hidden transition-all duration-500 ease-in-out origin-top transform"
      [ngClass]="{
        'max-h-0 opacity-0 scale-y-95 pointer-events-none': !isMenuOpen,
        'max-h-screen opacity-100 scale-y-100': isMenuOpen
      }"
    >
      <div class="px-2 pt-2 pb-3 space-y-1 bg-white border-t border-gray-200 shadow-lg">
        <a
          *ngFor="let item of navigation"
          [routerLink]="item.href"
          (click)="closeMenu()"
          class="flex items-center text-[#8b0000] gap-2 px-3 py-2 text-base font-medium transition-colors duration-200 relative group"
        >
          <span class="text-lg">
            <ng-icon
              [name]="
                item.name === 'heading.nav.home'
                  ? 'lucideHouse'
                  : item.name === 'heading.nav.about'
                  ? 'lucideUsersRound'
                  : item.name === 'heading.nav.products'
                  ? 'lucideCaravan'
                  : 'lucidePhoneCall'
              "
              class="w-5 h-5"
            />
          </span>
          <span>{{ item.name | translate }}</span>
          <span
            class="absolute bottom-0 left-3 w-0 h-0.5 transition-all duration-300 group-hover:w-[calc(100%-24px)]"
            [ngClass]="{
              'w-[calc(100%-24px)] bg-red-800': router.url === item.href,
              'bg-red-500': router.url !== item.href
            }"
          ></span>
        </a>

        <!-- Mobile Language -->
        <div 
          (click)="toggleLanguage()"
          class="px-3 py-2 flex items-center space-x-2">
          <span class="text-md p-0.5 mt-0.5 text-red-800">
            <ng-icon name="featherGlobe" class="w-5 h-5" />
          </span>
          <span class="text-sm font-medium text-red-800">
            {{ 'heading.language.label' | translate }}
          </span>
        </div>

        <!-- Mobile Phone -->
        <div class="px-3 py-2 flex items-center space-x-2">
          <span class="text-md p-0.5 mt-0.5 text-red-800">
            <ng-icon name="featherPhone" class="w-4 h-4" />
          </span>
          <span class="text-sm font-medium text-red-800">
            {{ 'heading.phone.mobile' | translate }}
          </span>
        </div>

        <!-- Mobile CTA -->
        <div class="px-3 py-2">
          <button class="w-full bg-red-800 hover:bg-red-800 text-white p-2 rounded-full">
            {{ 'heading.cta.mobile' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
