<div class="rounded-lg border-gray-400/80 bg-white shadow-sm my-5"
[ngClass]="{ 'opacity-50 pointer-events-none cursor-not-allowed': disabled }">
  <div class="flex items-center gap-2 p-6 text-2xl font-semibold">
    <!-- <span *ngIf="icon" [innerHTML]="icon"></span> -->
     <span class="text-orange-500/80">
       <ng-icon *ngIf="iconName" [name]="iconName" class="w-5 h-5"></ng-icon>
     </span>
    {{ title }}
  </div>

  <div class="space-y-4 p-6 pt-0">
    <!-- Add Feature -->
    <div class="flex gap-2">
      <input
        [disabled]="disabled"
        [(ngModel)]="newFeature"
        (keydown.enter)="handleAddFeature()"
        [placeholder]="'Add new ' + title.toLowerCase() + '...'"
        class="flex h-10 w-full rounded-md border border-gray-400/80 px-3 py-2 text-base text-black placeholder:text-gray-400"
      />
      <button (click)="handleAddFeature()" class="h-9 px-3 bg-red-800 text-white rounded-md cursor-pointer">
        <ng-icon name="lucidePlus" class="w-4 h-4" />
      </button>
    </div>

    <!-- Feature List -->
    <div class="space-y-2">
      <div
        *ngFor="let feature of features"
        class="flex items-center gap-2 p-3 bg-gray-50 rounded-lg"
      >
        <div class="flex items-center gap-2 flex-1" >
          <ng-container *ngIf="feature.isVisible; else hiddenIcon">
            <span class="text-green-500">
              <ng-icon name="lucideEye" class="w-4 h-4 " />
            </span>
          </ng-container>
          <ng-template #hiddenIcon>
            <span class="text-green-500">
              <ng-icon name="lucideEyeClosed" class="w-4 h-4 " />
            </span>         
          </ng-template>

          <ng-container *ngIf="editingId === feature.id; else displayContent">
            <input
              [disabled]="disabled"
              [(ngModel)]="editContent"
              (keydown.enter)="saveEdit()"
              class="flex-1 rounded border border-gray- px-2 py-1 text-sm"
            />
          </ng-container>

          <ng-template #displayContent>
            <span
              [ngClass]="{
                'text-slate-400': !feature.isVisible,
                'text-slate-700': feature.isVisible
              }"
              class="flex-1 text-sm"
            >
              {{ feature.content }}
            </span>
          </ng-template>
        </div>

        <!-- Controls -->
        <div class="flex items-center gap-1">
          <ng-container *ngIf="editingId === feature.id; else editButtons">
            <button (click)="saveEdit()" class="h-9 w-9 rounded-md border">
              <span>
                <ng-icon class="h-5 w-5" name="lucideSave"/>
              </span>
            </button>
            <button (click)="cancelEdit()" class="h-9 w-9 rounded-md border">
              <span>
                <ng-icon class="h-5 w-5" name="lucideX"/>
              </span>
            </button>
          </ng-container>

          <ng-template #editButtons>
            <button (click)="startEdit(feature)" class="h-9 w-9 rounded-md border border-gray-300 cursor-pointer hover:bg-red-100/50">
              <ng-icon name="lucideSquarePen" class="w-4 h-4" />
            </button>
            <button (click)="deleteFeature.emit(feature.id)" class="h-9 w-9 rounded-md border border-gray-300 cursor-pointer hover:bg-red-100/50">
              <ng-icon name="lucideTrash2" class="w-4 h-4" />
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
