<form (ngSubmit)="handleSubmit()" class="space-y-6">
  <!-- Tabs -->
   <div class="TABS w-full">
     <div class="h-12 p-1 items-center justify-center rounded-md bg-gray-100/80  text-gray-500 grid grid-cols-2 w-full border border-gray-300/20">
        <button type="button"
          class="py-2 m-y-1 m-x-5 text-center rounded-md cursor-pointer"
          [ngClass]="{
            'bg-white text-black shadow-sm': activeTab() === 'basic',
            'text-muted-foreground': activeTab() !== 'basic'
          }"
          (click)="activeTab.set('basic')">
          Basic Information
        </button>

        <button type="button"
          class="py-2 m-y-1 m-x-5 text-center rounded-md cursor-pointer"
          [ngClass]="{
            'bg-white text-black shadow-sm': activeTab() === 'details',
            'text-muted-foreground': activeTab() !== 'details'
          }"
          (click)="activeTab.set('details')">
          Product Details
        </button>
      </div>

   
     <!-- Basic Tab -->
     <div *ngIf="activeTab() === 'basic'" class="space-y-6">
   
       <app-basic-product-form
         [formData]="formData()"
         [categories]="categories"
         [subcategories]="availableSubcategories"
         (formDataChange)="updateFormData($event)"
       />
   
      <app-product-image-upload
        [images]="productImages"
        [existingImage]="formData().image"
        (imagesChange)="productImages = $event"
      />
   
     <app-product-tags-manager
       [tags]="formData().tags"
       (tagsChange)="updateTags($event)"
     />
     </div>
     
     <!-- Details Tab -->  
     <div *ngIf="activeTab() === 'details'" class="space-y-6">
       <app-product-details-form
         [productDetails]="productDetails()"
         (productDetailsChange)="productDetails.set($event)"
       />

     </div>
   
     <!-- Buttons -->
     <div class="flex justify-end gap-4 pt-4">
       <button type="button"
         class="px-4 py-2 border border-gray-400 rounded"
         (click)="cancel.emit()">Cancel</button>
         
       <button type="submit"
         class="px-4 py-2 bg-orange-600 hover:bg-orange-700 text-white rounded">
         {{ product ? 'Update Product' : 'Create Product' }}
       </button>
     </div>


   </div>
</form>
   <!-- 
       <app-lead-time-form
         [leadTime]="productDetails().leadTime"
         [availability]="productDetails().availability"
         (leadTimeChange)="updateLeadTime($event)"
         (availabilityChange)="updateAvailability($event)"
       /> -->