<div class="space-y-6 my-2">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Product Name -->
    <div class="space-y-2">
      <label 
      for="name"
      class="text-sm font-medium leading-none">Product Name</label>
      <input
        type="text"
        id="name"
        name="name"
        aria-required="true"
        [(ngModel)]="formData.name"
        (ngModelChange)="updateField('name', $event)"
        required
        class="my-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-red-800 focus:ring-offset-1 disabled:opacity-50"
      />
    </div>

    <!-- Category -->
     <div class="space-y-2">
      <label 
       for="category"
       class="text-sm font-medium leading-none">Category</label>
      <select
        id="category"
        name="category"
        aria-required="true"
        [(ngModel)]="formData.category"
        (ngModelChange)="updateField('category', $event); updateField('subcategory', '')"
        class="my-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2.5 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-red-800 focus:ring-offset-1 disabled:opacity-50"
      >
        <option disabled value="">Select category</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <!-- Subcategory -->
    <div class="space-y-2" *ngIf="subcategories.length > 0">
      <label 
       for="subcategory"
      class="text-sm font-medium leading-none">Subcategory</label>
      <select
        id="subcategory"
        name="subcategory"
        aria-required="true"
        [(ngModel)]="formData.subcategory"
        (ngModelChange)="updateField('subcategory', $event)"
        class="my-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-red-800 focus:ring-offset-1 disabled:opacity-50"
      >
        <option disabled value="">Select subcategory</option>
        <option *ngFor="let subcategory of subcategories" [value]="subcategory">
          {{ subcategory }}
        </option>
      </select>
    </div>
  </div>

  <!-- Description -->
  <div class="space-y-2">
    <label
      for="description"
      class="text-sm font-medium leading-none">Description</label>
    <textarea
      id="description"
      name="description"
      rows="3"
      aria-required="true"
      [(ngModel)]="formData.description"
      (ngModelChange)="updateField('description', $event)"
      class="my-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-red-800 focus:ring-offset-1 disabled:opacity-50 resize-y"
      required
    ></textarea>
  </div>

  <!-- Status -->
  <div class="space-y-2">
     <label
      for="status"
      class="text-sm font-medium leading-none"
    >Status</label>
    <select
      id="status"
      name="status"
      aria-required="true"
      [(ngModel)]="formData.status"
      (ngModelChange)="updateField('status', $event)"
      class="my-1 block w-40 rounded-md border border-gray-300 bg-white px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-red-800 focus:ring-offset-1 disabled:opacity-50"
    >
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
  </div>
</div>
