 <div class="card my-4">
      <div class="card-header">
        <h3 class="card-title">Product Image</h3>
      </div>
      <div class="card-content">
        <div
          class="upload-box"
          [class.drag-active]="dragActive"
          (dragenter)="handleDrag($event)"
          (dragleave)="handleDrag($event)"
          (dragover)="handleDrag($event)"
          (drop)="handleDrop($event)"
        >
          <ng-container *ngIf="images.length > 0; else uploadPrompt">
            <div class="preview" *ngFor="let img of images; let i = index">
              <img [src]="previewUrls[i]" alt="Preview" />
              <button type="button" (click)="removeImage(i)">Remove Image</button>
            </div>
          </ng-container>

          <ng-template #uploadPrompt>
            <div class="upload-prompt">
              <span class="text-5xl text-gray-400/90 ">
                <ng-icon name="lucideUpload" class="h-5 w-5" ></ng-icon>
              </span>
              <p class="title">Drop your image here</p>
              <p class="subtitle">or click to browse</p>

              <!-- الصورة القديمة تظهر هنا -->
              <div *ngIf="existingImage && images.length === 0" class="mt-4 w-48 h-32 rounded overflow-hidden border">
                <img [src]="existingImage" class="object-cover w-full h-full" alt="Current Image" />
              </div>

              <input
                type="file"
                hidden
                accept="image/*"
                #fileInput
                (change)="handleFileInput($event)"
                multiple
              />

              <button
              type="button"
              (click)="fileInput.click()"
              class="bg-amber-400 rounded-xl px-3 py-1.5 mt-3 cursor-pointer hover:rounded-lg hover:-translate-y-1 hover:bg-amber-400/80 transform transition-all duration-200"
              >
              Choose File
            </button>
            </div>
            
          </ng-template>
        </div>
      </div>
</div>
